<div class="embed-container">
	<iframe
		title="{{ include.title | default: 'YouTube video player' }}"
		width="{{ include.width | default: 640 }}"
		height="{{ include.height | default: 390 }}"
		src="https://www.youtube-nocookie.com/embed/{{ include.url | replace: 'https://www.youtube.com/watch?v=', '' }}"
		allow="autoplay; encrypted-media"
		frameborder="0"
		allowfullscreen=""
		crossorigin="{{ include.crossorigin | default: 'anonymous' }}"
		referrerpolicy="{{ include.referrerpolicy | default: 'origin' }}"
	></iframe>
</div>
