body > nav {
	font-size: 1.5rem;
	background: var(--accent-color);
	grid-area: nav;
	height: var(--nav-height);
	line-height: var(--nav-height);
}

body > nav > * {
	flex: 2 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-items: center;
}

body > nav > :not(:last-child) {
	border-right: 0.1em solid var(--border-color);
}

body > nav a > * {
	margin: auto;
}

body > nav .mobile-hidden {
	margin-left: 0.6rem;
}

body > nav > *:first-child {
	flex-grow: 1;
}
